*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
   font-family: 'Gill Sans', sans-serif;
}

html,body{
   height: 100%;
   width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    z-index: 1000;
}
#logo{
    height: 50%;
    cursor: pointer;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
    color: rgb(11, 2, 94);
    display: flex;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
.texts:hover{
    color: rgb(67, 235, 235);
}
#fakeheader{
    height: 10%;
    width: 100%;
}
#contactDetails{
    font-weight: lighter;
}
#contact{
    text-align: center;
    cursor: pointer;
}
#contact:hover{
    color: rgb(67, 235, 235);
}
.icons{
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icons:hover{
    background-color: lightblue;
}
#logIn{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#logIn:hover{
    background-color: lightblue;
}
#try button{
    background-color: green;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#try button:hover{
    background-color: rgb(2, 46, 2);
}
#page1{
    height: 90%;
    width: 100%;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(37, 37, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
#strip p{
    font-weight: bold;
    margin-right: 8px;
}
#content{
    height: 70%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
#box1{
    height: 90%;
    width: 30%;
}
#para h1{
    color: darkblue;
    font-size: 63px;
    margin: 20px 20px;
}
#para p{
    font-size: x-large;
    font-weight: lighter;
    margin: 20px 20px;
}
#p1btn{
    margin-top: 50px;
    margin-left: 20px;
}
#btn1{
    background-color: rgb(46, 108, 179);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn1:hover{
    background-color: rgb(1, 25, 92);
}
#btn2{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(46, 108, 179);
    border-color: rgb(46, 108, 179);
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn2:hover{
    background-color: lightskyblue;
}
#box2{
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
#videobox{
    position: relative;
    height: 70%;
    width: 80%;
    background: url('https://images.unsplash.com/photo-1739932215472-15ebf0ab6cf4?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#videobox video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fits within the box */
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
}
@media (max-width: 768px) {
    #content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #box2 {
        width: 90%;
    }
    #videobox {
        height: 200px;
        width: 90%;
    }
}
#heading{
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading h1{
    font-weight: 600;
    font-size: 40px;
    color: rgb(0, 0, 95);
}

#page2{
    height: 90%;
    width: 100%;
    background-image: url('bg.webp');
    background-position: center;
    background-repeat: no-repeat;
}
#allCard{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#card1{
    height: 85%;
    width: 15%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card1 img{
    height: 35%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card2{
    height: 85%;
    width: 15%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card2 img{
    height: 35%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card3{
    height: 85%;
    width: 15%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card3 img{
    height: 35%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card4{
    height: 85%;
    width: 15%;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card4 img{
    height: 35%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pCard{
    margin: 30px;
}
.pCard h3{
    color: rgb(0, 0, 95);
    cursor: pointer;
}
.pCard h3:hover{
    color: rgb(72, 134, 155);
}
.pCard p{
    margin: 40px 0 60px 0;
}
.pCard h4{
    color: rgb(0, 0, 95);
    cursor: pointer;
}
.pCard h4:hover{
    color: rgb(72, 134, 155);
}
#p2Button{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn3{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(46, 108, 179);
    border-color: rgb(46, 108, 179);
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn3:hover{
    background-color: lightskyblue;
}

#page3{
    height: 80%;
    width: 100%;
}
.para3{
    height: 30vh;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}
.para3 h1{
    color: darkblue;
    font-size: 50px;
    margin-bottom: 30px;
}
.para3 p{
    font-size: x-large;
    font-weight: lighter;
    margin-left: 70px;
    margin-right: 70px;
}
#p3btn{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 80px;
    margin-top: 20px;
}
#btn4{
    background-color: rgb(46, 108, 179);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn4:hover{
    background-color: rgb(1, 25, 92);
}
#btn5{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(46, 108, 179);
    border-color: rgb(46, 108, 179);
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn5:hover{
    background-color: lightskyblue;
}
#page4{
    height: 80%;
    width: 100%;
}
#p4Card{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#card5{
    height: 85%;
    width: 20%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card5 img{
    height: 35%;
    border-radius: 10px;
}
#card6{
    height: 85%;
    width: 20%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card6 img{
    height: 35%;
    border-radius: 10px;
}
#card7{
    height: 85%;
    width: 20%;
    margin-right: 30px;
    background-color: rgb(241, 248, 248);
    border-radius: 20px;
}
#card7 img{
    height: 35%;
    border-radius: 10px;
}
#p4Button{
    display: flex;
    justify-content: center;
}
#btn6{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(46, 108, 179);
    border-color: rgb(46, 108, 179);
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}
#btn6:hover{
    background-color: lightskyblue;
}
#page5{
    height: 100%;
    width: 100%;
    background-image: url('bg-2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua;
}
#Company{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
}
#Company h1{
    height: 30vh;
    background-color: azure;
    font-size: 5vh;
}
#btn7{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(46, 108, 179);
    border-color: rgb(46, 108, 179);
    font-size: 600;
    font-weight: bold;
    cursor: pointer;
}